div,h1,h2,p,a,ul,li{margin:0;padding:0}
h1{
    color: #fff;
    background-color: #666;
    margin:0;
    line-height: 3em;
    font-size: 24px;
    padding-left:20px;
}
.cntbody-line{
    border-bottom:2px solid #eee;
    float: left;
    width:100%;
}
h2{
    color:#333;
    background-color: #aaa;
    line-height: 7em;
    width: 7em;
    height:7em;
    display: block;
    text-align: center;
    float: left;
}
table{
    display: inline-block;
    line-height: 1.5em;
    text-align: left;
    margin-left: 20px;
    margin-top:10px;
}
td{
    padding-right: 4em;
}
td>b{
    padding-right:0.8em;
}
ul{
    display: inline-block;
    line-height: 1.5em;
    list-style: none;
    margin-left: 20px;
    margin-top:10px;
}